:root {
  --default-blue: #8884d8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: #fff;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  font-family: "Lato";
  overflow-x: hidden;
}

input,
select {
  border-radius: 0.5rem;
  border: transparent;
  padding: 0.75rem;
  color: #202020;
  background-color: #f6f6f6;
  font-weight: bold;
}

body::-webkit-scrollbar {
  width: 8px;
  position: fixed;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 4px;
}
