.button {
  background-color: var(--default-blue);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.9;
}
