.wrapper {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 5px 15px #20202020;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrapper > h2:first-child {
  margin-bottom: 1rem;
}

.wrapper > ul > li {
  list-style-type: none;
  margin-left: 1rem;
}
